* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px '微软雅黑';
}

#content {
  width: 800px;
  margin: 0 auto;
}

#room {
  background: #ddd;
  margin-bottom: 1em;
}

#messages {
  padding: 10px 20px;
  width: 690px;
  height: 300px;
  overflow: auto;
  background: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

.c-user__me {
  margin: 10px 0;
  text-align: left;
}

.c-user__other {
  margin: 10px 0;
  text-align: right;
}